@model Universidad.Models.Luggage

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="title_left">
        <h3>Equipaje</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>Regitro <small>equipaje</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <div class="x_content">
                    <div class="x_content">
                        <br />
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" action="/luggage/create" method="post">

                            <div class="item form-group">
                                <label asp-for="ShortDes" class="col-form-label col-md-3 col-sm-3 label-align control-label" for="ShortDes">
                                    Nombre <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="ShortDes" id="ShortDes" class="form-control" required="required" />
                                </div>
                                <span asp-validation-for="ShortDes" class="text-danger"></span>
                            </div>
                            <div class="item form-group">
                                <label asp-for="Description" class="col-form-label col-md-3 col-sm-3 label-align control-label" for="Description">
                                    Descripción <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="Description" id="Description" class="form-control" required="required" />
                                </div>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="item form-group">
                                <label asp-for="MaxKilos" class="col-form-label col-md-3 col-sm-3 label-align control-label" for="MaxKilos">
                                    Máximo kilos <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="MaxKilos" id="MaxKilos" class="form-control" required="required" />
                                </div>
                                <span asp-validation-for="MaxKilos" class="text-danger"></span>
                            </div>
                            <div class="item form-group">
                                <label asp-for="Price" class="col-form-label col-md-3 col-sm-3 label-align control-label" for="Price">
                                    Precio $ <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="Price" id="Price" class="form-control" required="required" />
                                </div>
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button type="submit" class="btn btn-success">Guardar</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>