<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />
    <title>@ViewData["Title"] - Universidad</title>
    <!-- Bootstrap -->
    <link href="~/lib/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/lib/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/lib/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/lib/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/lib/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/lib/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/lib/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="#" class="site_title"><i class="fa fa-book"></i> <span>Proyecto</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/images/user.png" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>Michael Meléndez</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Airplane/Index">Aviones</a></li>
                                        <li><a href="/Person/Index">Personas</a></li>
                                        <li><a href="/Luggage/Index">Equipaje</a></li>
                                        <li><a href="/Crew/Index">Tripulación</a></li>
                                        <li><a href="/Flight/Index">Vuelos</a></li>
                                        <li><a href="/Ticket/Index">Boletos</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="/Login/IndexMessage">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/images/user.png" alt="">Michael Meléndez
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/Login/IndexMessaage"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    @RenderBody()
                </div>
                <!-- /page content -->
                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        &copy; 2022 - Proyecto - Universidad <a asp-area="" asp-controller="Home"></a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->


            </div>
        </div>
    </div>


    <!-- jQuery -->
    <script src="~/lib/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/lib/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/lib/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/lib/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/lib/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/lib/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/lib/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/lib/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/lib/vendors/Flot/jquery.flot.js"></script>
    <script src="~/lib/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/lib/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/lib/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/lib/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/lib/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/lib/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/lib/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/lib/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/lib/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/lib/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/lib/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/lib/vendors/moment/min/moment.min.js"></script>
    <script src="~/lib/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
